@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

	<div class="jumbotron">
		<h1>Programlama Dilleri Tez Kontrol Sistemi</h1>
		<p class="lead">Bu site Fırat Üniversitesi Teknoloji Fakültesi Yazılım Mühendisliği Programlama Dilleri dersi için yapılmıştır.</p>
	</div>
